<header>
  <h1 class="logo-text"><a href="/">MMB</a></h1>
  <nav>
    <ul role="list" class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/new">New message</a></li>
    </ul>
  </nav>
</header>